@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Julius+Sans+One&display=swap');q

body {
    font-family: "IBM Plex Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('./manchester-united-background-l2ky8udyar5gsvay.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    font-family: "IBM Plex Mono", monospace !important;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    color: #333;
}

ul {
    font-family: "IBM Plex Mono", monospace;
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

input[type="text"] {
    font-family: "IBM Plex Mono", monospace;
    width: 78%;
    padding: 10px;
}

button {
    font-family: "IBM Plex Mono", monospace;
    padding: 10px;
    cursor: pointer;
}